/* You can add global styles to this file, and also import other style files */

// Import de la typographie et du thème de base Angular Material
@use '@angular/material' as mat;
@include mat.core();

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Définition des variables de couleur pour les thèmes */
:root {
  --primary-color: #3f51b5;
  --primary-color-lighter: #e8eaf6;
  --accent-color: #ff4081;
  --main-bg-color: #fafafa;
  --sidebar-bg-color: #ffffff;
  --card-bg-color: #ffffff;
  --text-color: #212121;
  --subtitle-color: #757575;
}

body.dark-theme {
  --primary-color: #7b8ae3;
  --primary-color-lighter: #303f9f;
  --accent-color: #ff80ab;
  --main-bg-color: #212121;
  --sidebar-bg-color: #303030;
  --card-bg-color: #424242;
  --text-color: #ffffff;
  --subtitle-color: #bdbdbd;
}

/* Appliquer la couleur de fond et du texte globalement */
body {
  background-color: var(--main-bg-color);
  color: var(--text-color);
}
